body {
    font-family: Arial;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

td, th {
    padding: 10px;
    text-align: center;
}

.color-box {
    width: 100px;
    height: 40px;
    border: 1px solid black;
    margin: auto;
}